html, body {
    width: 100%;
    background: #222;
    color: ghostwhite;
    overflow: hidden; 
    padding: 0; 
    margin: 0
}

main {
    display:flex;
    width: 100%;
}

.left.pane {
    flex: 0 1 30%;
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100vh; 
    padding:  0 10px
}

h1 {
    border: 1px solid ghostwhite;
    padding: 5px 1em 0 1em;
    position:relative;
    margin-bottom:.25em;
}

h1::after {
	content: '';
	display: block;
	position: absolute;
	top: .15em;
	left: .15em;
	width: 100%;
	height: 100%;
	background: red;
	mix-blend-mode: screen;
}

.controls {
}

.controls > div {
    margin: 5px 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2px;
    padding: 4px;
    background: #fff2;
}

.controls > div label {
    flex: 1 0 100%;
    font-size: .8em;
}

.controls input {
    flex: 1 0 auto;
}

.controls input[type='text'], .controls input[type='url'] {
    background: #ccc;
    border: none;
    margin: 4px;
}

.controls input[type='range'] {
    margin: 4px;
    height: 1em;
}


.right.pane {
    flex: 1 1 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    height: 100vh;
    position:relative;
}




#pages {
    height: max-content;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    background-color: #293A4B;
    padding: 20px;
}

.page {
    flex: 0 0 auto;
    height:11in;
    width: 8.5in;
    background-image: url('assets/backgrounds/BasicWatercolor-min.png');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: clip;
    margin: 30px;
    box-shadow: 0px 0px 25px black;
    transform:scale(1);
    transform-origin:top;
}

.frame img {
    position: absolute;
    overflow: clip;
}



textarea {
	width: 100%;
	background-color: #ccc;
	border: none;
	scrollbar-width: thin;
	white-space: pre;
	overflow-wrap: normal;
	overflow-x: scroll;
	resize: vertical;
    padding:0;
}

#text-code {
    height: 6em;
}

#style-code {
    height:23em;
}

#preview-hover-area {
    position: sticky;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 20vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

#preview-tools {
	position: absolute;
	background: red;
	height: 30px;
	border: 3px solid ghostwhite;
	border-radius: 10px;
	padding: 5px 20px;
    filter: drop-shadow(0 2px 2px black);
    opacity:0;
    transition: all 2s ease;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

#preview-hover-area:hover #preview-tools {
    opacity:1;
    transition: all .6s ease;
}

#preview-tools .preview-tool-item {
    aspect-ratio: 1 / 1;
    height: 90%;
    border-radius: 5px;
    text-align: center;
    filter: drop-shadow(0px 2px 2px black);
    background: red;
    user-select: none;
    cursor: pointer;
    transition:all .1s ease;
}

#preview-tools .preview-tool-item:active {
    filter: drop-shadow(0 0 1px black);
    transition:all .1s ease;
}

#mask-URL-container:hover #mask-presets {
    height: 400px;
    transition:all .4s .4s ease;
}

#mask-presets {
	flex: 1 1 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-auto-columns: 1fr;
	gap: 10px 10px;
	grid-auto-flow: row;
	justify-content: center;
	justify-items: center;
	align-items: center;
	overflow-y: scroll;
	scrollbar-width: none;
	height: 0px;
    transition:all .4s  ease;
}

  .preset {
      aspect-ratio: 8.5 / 11;
      height: 130px;
      background: #888;
      position:relative;
      box-shadow:1px 1px 5px black;
      transform: scale(1);
      transition: all .2s ease;
  }

  .preset:hover {
    box-shadow: 1px 1px 8px black;
    transform:scale(1.03);
    transition: all .2s ease;
  }

  .preset > div {
      background: red;
  }
  

/*  FOOTER  */

.footer {
    margin-top: 3em;
    padding-bottom:2em;
}

.footer ul {
	display: flex;
	justify-content: center;
	list-style: none;
	gap: 30px;
	font-family: 'helvetica';
	font-size: 10px;
	flex-wrap: wrap;
	padding: 0 15px;
}

.footer a, .footer a:visited {
    color: ghostwhite
}
